body {
  overflow-x:hidden;
}

#app {
  height: 100%;
}

.appContainer {
  height: 100%;
}

.switch-wrapper {
  position: relative;
  height: 87%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}
