@import '../../node_modules/loaders.css/src/animations/line-scale.scss';

body {
  overflow-x:hidden;
}

.switch-wrapper {
  padding: 20px 2px;

  position: relative;
  height: 87%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

.loader-active {
  text-align: center;
  margin-top: 28%;
}
