.textField {
  padding: 5px;
  .formControl {

    &:hover {
      border-color: #2da94a;
    }
    &:focus {
      border-color: #2da94a;
    }
  }

  .warning {
    width: 100%;
    height: 30px;
    float: left;
    color: red;
  }
}

