.navbar {
  background-color: #36b5e0;

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav a {
    padding: 5px 5px;
    color: #fff;
  }

  .active {
    text-decoration: underline;
  }

  .dropdown-menu {
    left: -99px;
    margin: 0.625rem 0 0;
  }

  .userMenu {

    img {
      height: 35px;
      border-radius: 50px;
    }
  }
}
